/* --------- global --------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
    font-weight: 400;
    color: #0d0d0d;
    text-align: left;

    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1970px;
    margin: 0 auto;
    padding: 0;
}
a {
    color: #0d0d0d;
}
a:hover,
a:focus,
a:active {
    color: #f39c12;
    outline-color: #f39c12;
}
input[type="text"],
input[type="password"],
textarea,
select {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    color: #0d0d0d;

    text-align: left;
    vertical-align: middle;

    background-color: #ffffff;
    border: 2px solid #d9d9d9;

    padding: 10px;
}
input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="password"]:active,
textarea:hover,
textarea:focus,
textarea:active,
select:hover,
select:focus,
select:active {
    border-color: #f39c12;
    outline-color: #f39c12;
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    max-width: 1070px;
}
h1 strong {
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
}
h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
h3 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
}
table {
    border-collapse: collapse;
    display: block;
    overflow: auto;
}
thead, tbody {
}
tr {
}
th, td {
    overflow: auto;
    max-height: 100px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
th {
    background-color: rgba(78, 96, 114, 0.2); /*#4e6072;*/ /*#b0e0e6;*/
}
/* --------- /global --------- */


/* --------- custom --------- */
.bad-input,
.bad-input:hover,
.bad-input:focus,
.bad-input:active {
    outline: auto red !important;
}
.custom-section {
    margin-bottom: 106px;
}
.button {
    display: inline-block;
    font-family: inherit;
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    color: #0d0d0d;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: transparent;
    border: 2px solid #f39c12;

    padding: 10px 25px;
}
.button:hover,
.button:focus,
.button:active {
    color: #ffffff;
    background-color: #f39c12;
    outline-color: #f39c12;
}
.white-button {
    color: #ffffff;
    border-color: #ffffff;
}
.white-button:hover,
.white-button:focus,
.white-button:active {
    color: #ffffff !important;
    border-color: #f39c12;
}
a.disabled,
*.disabled {
    color: #cdb184;
    cursor: default;
    opacity: 0.2;
    pointer-events: none; /*не работает на ссылку в downloads вложенную в лишку*/
}
.button.disabled,
.button:disabled {
    opacity: 0.5;
    border: 2px solid #cdb184;
}
.h2-annotation {
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.h2-annotation small {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
}
.inline-h2-and-annotation-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 61px;
    position: relative;
}
.inline-h2-and-annotation-wrapper h2 {
    text-align: right;
    width: 302px;
    margin: 0;
}
.inline-h2-and-annotation-wrapper .h2-annotation {
    padding-left: 40px;
    width: calc(1170px - 302px - 40px);
}
.inline-h2-and-annotation-wrapper--shortened .h2-annotation {
    width: calc(1170px - 302px - 40px - 350px - 30px); /* - right-block-width - right-block-margin*/
}
.inline-h2-and-annotation-wrapper .h2-annotation::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(302px + 15px + (4px/2)); /* h2 width + .h2-annotation::before margin-left + .h2-annotation::before width */
    width: 4px;
    background-color: #f39c12;
}
.incolumn-h2-and-annotation-wrapper {
    margin-bottom: 61px;
}
.incolumn-h2-and-annotation-wrapper h2 {
    margin: 0;
}
.incolumn-h2-and-annotation-wrapper h2,
.incolumn-h2-and-annotation-wrapper .h2-annotation {
    text-align: center;
}
.incolumn-h2-and-annotation-wrapper h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #f39c12;
    margin: 15px auto;
}
.h3-annotation {
    padding: 0;
    margin: 0;
}
.incolumn-h3-and-annotation-wrapper h3,
.incolumn-h3-and-annotation-wrapper .h3-annotation {
    text-align: center;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="file"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;

    border: 0;
    padding: 0;

    overflow: hidden;
    /*разобраться, что значат*/
    white-space: nowrap;
    clip-path: inset(100%);
}
.with-pseudo-wide-line::before {
    content: "";
    display: block;

    background-color: black;
    opacity: 0.1;
    width: 100%;
    height: 2px;
    margin-bottom: 106px;
}
.with-pseudo-vertical-line::before {
    content: "|";
    color: #f39c12;
}
.custom-th-td-content-wrapper {
    transition: all 0.3s ease-in-out;
    margin: 0;
    padding: 0;
    min-width: 112px;
    max-height: 150px;
}
.custom-li {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
}
.custom-margin-10 {
    margin: 10px;
}
.text-decoration-none { /*ЭТО ГДЕ ВООБЩЕ ПРИМЕНЕНО?*/
    text-decoration: none;
}
.custom-checkbox__title,
.custom-radio__title {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 35px;
    padding-left: 45px;
    cursor: pointer;
}
.custom-radio__title:not(:last-child) {
    margin-bottom: 5px;
}
.custom-checkbox__title:hover,
.custom-checkbox__title:focus,
.custom-checkbox__title:active {
    color: #f39c12;
}
.custom-checkbox__title input[type="checkbox"] + .custom-checkbox,
.custom-radio__title input[type="radio"] + .custom-radio {
    position: absolute;
    top: 0;
    left: 0;

    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid #f39c12;

    width: 35px;
    height: 35px;
}
.custom-radio__title input[type="radio"] + .custom-radio {
    border-radius: 50%;
}
.custom-checkbox__title input[type="checkbox"]:focus + .custom-checkbox,
.custom-checkbox__title input[type="checkbox"]:active + .custom-checkbox {
    outline-color: #f39c12;
    outline-style: auto;
    background-color: rgba(243, 156, 18, 0.3);
}
.custom-radio__title input[type="radio"]:focus + .custom-radio,
.custom-radio__title input[type="radio"]:active + .custom-radio {
    outline-color: #f39c12;
    outline-style: auto;
}
.custom-checkbox__title input[type="checkbox"]:hover + .custom-checkbox,
.custom-radio__title input[type="radio"]:hover + .custom-radio {
    background-color: #f39c12;
}
.custom-checkbox__title input[type="checkbox"]:checked + .custom-checkbox::before,
.custom-checkbox__title input[type="checkbox"]:checked + .custom-checkbox::after,
.custom-radio__title input[type="radio"]:checked + .custom-radio::before {
    content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.8;
}
.custom-radio__title input[type="radio"]:checked + .custom-radio::before {
    background-color: #f39c12;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: calc(50% - 7px);
    left: calc(50% - 7px);
}
.custom-checkbox__title input[type="checkbox"]:checked + .custom-checkbox::before {
    width: 23px;
    height: 2px;
    transform: rotate(-45deg);
    top: 15px;
    left: 8px;
}
.custom-checkbox__title input[type="checkbox"]:checked + .custom-checkbox::after {
    width: 12px;
    height: 2px;
    transform: rotate(45deg);
    top: 18px;
    left: 1px;
}
.custom-checkbox__title input[type="checkbox"]:checked:hover + .custom-checkbox::before,
.custom-checkbox__title input[type="checkbox"]:checked:hover + .custom-checkbox::after,
.custom-radio__title input[type="radio"]:checked:hover + .custom-radio::before  {
    background-color: #ffffff;
}
.custom-checkbox__title h3,
.custom-radio__title h3 {
    margin: 0;
}

.button-previous,
.button-next {
    position: absolute;
    background-color: #000000;
    opacity: 0.5;
    width: 60px;
    height: 60px;
    border: none;
    z-index: 2;
}
.button-previous:hover,
.button-next:hover {
    opacity: 0.7;
}
.button-previous {
    left: 0;
}
.button-next {
    right: 0;
}
.button-previous:focus,
.button-next:focus,
.button-previous:active,
.button-next:active {
    outline-color: #ffffff;
    outline-style: solid;
}
.button-previous::before,
.button-previous::after,
.button-next::before,
.button-next::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    opacity: 0.5;
    width: 30px;
    height: 1px;
}
.button-previous::before,
.button-next::after {
    transform: rotate(-45deg);
}
.button-previous::after,
.button-next::before {
    transform: rotate(45deg);
}
.button-previous::before,
.button-next::before {
    top: 19px;
    left: 15px;
}
.button-previous::after,
.button-next::after {
    bottom: 19px;
    right: 15px;
}
.pagination {
    display: flex;
    justify-content: center;
}
.pagination__item {
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.3;
    width: 12px;
    height: 12px;
    border: none;
    margin: 0;
    padding: 0;
}
.pagination__item--active {
    opacity: 1;
}
.pagination__item:hover {
    opacity: 0.5;
}
.pagination__item--active:hover {
    opacity: 0.7;
}
.pagination__item:focus,
.pagination__item:active {
    outline-color: #ffffff;
}
.pagination__item:not(.pagination__item--active):focus,
.pagination__item:not(.pagination__item--active):active {
    outline-style: solid;
}
.pagination__item:not(:first-child) {
    margin-left: 4px;
}
@keyframes slider_item_right_in {
    0% {
        position: absolute;
        transform: translateX(700px);
        opacity: 0;
    }
    70% { opacity: 0.1; }
    80% { opacity: 0.2; }
    100% { position: absolute; }
}
.slider_item_right_in { /*специализированный класс анимации*/
    animation-name: slider_item_right_in;
    animation-duration: 0.4s;
}
@keyframes slider_item_left_out {
    0% {}
    20% { opacity: 0.2; }
    30% { opacity: 0.1; }
    100% {
        transform: translateX(-700px);
        opacity: 0;
    }
}
.slider_item_left_out { /*специализированный класс анимации*/
    animation-name: slider_item_left_out;
    animation-duration: 0.4s;
}
@keyframes slider_item_left_in {
    0% {
        transform: translateX(-700px);
        opacity: 0;
        position: absolute;
    }
    70% { opacity: 0.1; }
    80% { opacity: 0.2; }
    100% { position: absolute; }
}
.slider_item_left_in { /*специализированный класс анимации*/
    animation-name: slider_item_left_in;
    animation-duration: 0.4s;
}
@keyframes slider_item_right_out {
    0% {}
    20% { opacity: 0.2; }
    30% { opacity: 0.1; }
    100% {
        transform: translateX(700px);
        opacity: 0;
    }
}
.slider_item_right_out { /*специализированный класс анимации*/
    animation-name: slider_item_right_out;
    animation-duration: 0.4s;
}
/* --------- /custom --------- */


/* ---------- index ---------- */
.top-content-wrapper {
    color: #ffffff;

    background-color: #4e6072;
    background-image: url("img/header_background.jpg");
    background-position: top center;
    background-repeat: no-repeat;

    min-width: 1968px;
    min-height: 1098px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 106px;
}
.main-header {
    margin-top: 84px;
    margin-bottom: 150px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-header__logo {
    width: 150px;
    height: 150px;
}
.main-header-navigation {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;

    width: 1020px;
}
.main-header-navigation__site-list,
.main-header-navigation__user-list {
    list-style: none;

    font-size: 20px;
    line-height: 25px;

    margin: 0 0 15px 0;
    padding: 0;
}
.main-header-navigation__site-list > *,
.main-header-navigation__user-list > * {
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 10px;
}
.main-header-navigation__site-list > *:not(:first-child)::before,
.main-header-navigation__user-list > *:not(:first-child)::before {
    content: "\\\\";
    margin: 0 20px 0 25px;
}
.main-header-navigation a {
    text-decoration: none;
    color: #ffffff;
}
.main-header-navigation a:hover,
.main-header-navigation a:focus,
.main-header-navigation a:active {
    color: #f39c12;
}
.main-header-navigation-item__search-icon {
    display: inline-block;
    background-image: url("img/search.png");
    background-position: top center;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
}
.main-header-navigation-item__search-icon:hover,
.main-header-navigation-item__search-icon:focus,
.main-header-navigation-item__search-icon:active {
    background-image: url("img/search--hover.png");
}
.main-header-navigation-item__map-icon {
    display: inline-block;
    background-image: url("img/map.png");
    background-position: top center;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
}
.main-header-navigation-item__map-icon:hover,
.main-header-navigation-item__map-icon:focus,
.main-header-navigation-item__map-icon:active {
    background-image: url("img/map--hover.png");
}
.advantages {
    text-transform: uppercase;
    text-align: center;

    margin-top: 30px;
}
/* desktop only */
.advantages__list {
    list-style: none;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 910px;

    margin: 0;
    padding: 0;
}
.advantages__item {
    width: calc((910px - (35px*2))/3);
    min-height: 400px;
}
/* /desktop only */
.advantages h3 {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}
.advantages .h3-annotation {
    font-size: 20px;
    line-height: 25px;
}
.advantages__item::before {
    content: "";
    display: block;

    width: 170px;
    height: 170px;
    margin: 0 auto;

    border: 2px solid #f39c12;
    border-radius: 50%;

    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}
.speed::before {
    background-image: url("img/advantages__speed-icon.png");
}
.convenience::before {
    background-image: url("img/advantages__convenience-icon.png");
}
.quality::before {
    background-image: url("img/advantages__quality-icon.png");
}
.general-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 106px;
}
.general-content a {
    text-decoration: none;
}
.general-content__list {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

    width: 910px;

    margin: 0;
    padding: 0;
}
.general-content__item {
    width: calc((910px - (35px*2))/3); /*because there are just 3 items*/
}
.general-content__item-link::before {
    content: "";
    display: block;

    width: 105px;
    height: 105px;
    margin: 0 auto;

    border: 2px solid #f39c12;
    border-radius: 50%;

    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}
.general-content__docs::before {
    background-image: url("img/general-content__docs.png");
}
.general-content__lit::before {
    background-image: url("img/general-content__lit.png");
}
.general-content__order::before {
    background-image: url("img/general-content__order.png");
    background-position: 49% 53%;
}
.general-content__docs:hover::before,
.general-content__docs:focus::before,
.general-content__docs:active::before {
    background-color: #f39c12;
    background-image: url("img/general-content__docs--hover.png");
}
.general-content__lit:hover::before,
.general-content__lit:focus::before,
.general-content__lit:active::before {
    background-color: #f39c12;
    background-image: url("img/general-content__lit--hover.png");
}
.general-content__order:hover::before,
.general-content__order:focus::before,
.general-content__order:active::before {
    background-color: #f39c12;
    background-image: url("img/general-content__order--hover.png");
}
.news {
    color: #ffffff;
    text-align: center;

    background-color: #4e6072;
    background-image: url("img/news_background.jpg");
    background-position: top center;
    background-repeat: no-repeat;

    width: 1968px;
    height: 699px;

    margin-bottom: 106px;
}
.news a {
    text-decoration: none;
    color: #ffffff;
}
.news a:hover,
.news a:focus,
.news a:active {
    color: #f39c12;
}
.news-conteiner {
    width: 1170px;
    margin: 85px auto;
}
.news-content-with-side-buttons-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: calc(699px - 85px - 85px - 30px - 12px - 30px - 34px); /*news - news-conteiner-margin - pagination-margin - pagination - button-pagination - button*/ /*может обойтись без этого?*/
}
.news__item {
    font-size: 40px;
    line-height: 50px;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 410px;
    width: calc(1170px - 60px - 60px);
}
.news .slider__item--active {
    display: flex;
}
.news__item p {/*у абзаца есть свойство максимальной длины? сделать на js, получать строку, парсить, обрезать последнее не входящее слово, заменяя многоточием...*/
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
}/*не робит почему-то разрешает только одну строку
    max-width: 900px;
    max-height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
.news__item time {
    font-size: 30px;
    line-height: 35px;
}
.news__item time::before {
    content: "";
    display: block;

    background-color: #f39c12;
    opacity: 0.8;
    margin: 25px auto;
    width: 59px;
    height: 4px;
}
.news__pagination {
    margin-bottom: 30px;
}
.order {
    display: flex;
    flex-direction: column;
    align-items: center; /*"margin: 0 auto;" works not*/
    margin-bottom: 106px;
}
.order a {
    text-decoration: none;
}
.works {
    display: flex;
    flex-direction: column;
    align-items: center; /*"margin: 0 auto;" works not*/
    margin-bottom: 106px;
}
.works a {
    text-decoration: none;
}
.works-content-wrapper {
    position: relative;
    height: calc(580px + 30px + 25px); /*img + margin-top-h3 + line-height-h3*/
    width: 1170px;
    margin-bottom: 50px;
}
.works .slider__item {
    display: none;
}
.works .slider__item--active {
    display: block;
}
.works__item h3 {
    margin-top: 30px;
}
.works .button-previous,
.works .button-next {
    top: calc(580px/2 - 60px/2); /*img-height - button-height*/
}
.works__pagination {
    position: absolute;
    z-index: 2;
    top: calc(580px - 30px - 12px); /*img-height - margin-pagination - pagination-height*/
    min-width: 1170px;
}
.downloads {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 106px;
}
.downloads a {
    text-decoration: none;
}
.downloads__list {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

    width: 910px;

    margin: 0 0 30px 0;
    padding: 0;
}
.downloads__item {
    width: calc((910px - (10px*5))/6);
}
.downloads__item-link::before {
    content: "";
    display: block;

    width: 105px;
    height: 105px;
    margin: 0 auto;

    border: 2px solid #f39c12;
    border-radius: 50%;

    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}
.downloads__windows::before {
    background-image: url("img/downloads__windows.png");
}
.downloads__linux::before {
    background-image: url("img/downloads__linux.png");
}
.downloads__macos::before {
    background-image: url("img/downloads__macos.png");
}
.downloads__android::before {
    background-image: url("img/downloads__android.png");
}
.downloads__google-play::before {
    background-image: url("img/downloads__google-play.png");
}
.downloads__app-store::before {
    background-image: url("img/downloads__app-store.png");
}

.downloads__windows:hover::before,
.downloads__windows:focus::before,
.downloads__windows:active::before {
    background-color: #f39c12;
    background-image: url("img/downloads__windows--hover.png");
}
.downloads__linux:hover::before,
.downloads__linux:focus::before,
.downloads__linux:active::before {
    background-color: #f39c12;
    background-image: url("img/downloads__linux--hover.png");
}
.downloads__macos:hover::before,
.downloads__macos:focus::before,
.downloads__macos:active::before {
    background-color: #f39c12;
    background-image: url("img/downloads__macos--hover.png");
}
.downloads__android:hover::before,
.downloads__android:focus::before,
.downloads__android:active::before {
    background-color: #f39c12;
    background-image: url("img/downloads__android--hover.png");
}
.downloads__google-play:hover::before,
.downloads__google-play:focus::before,
.downloads__google-play:active::before {
    background-color: #f39c12;
    background-image: url("img/downloads__google-play--hover.png");
}
.downloads__app-store:hover::before,
.downloads__app-store:focus::before,
.downloads__app-store:active::before {
    background-color: #f39c12;
    background-image: url("img/downloads__app-store--hover.png");
}
.contacts {
    color: #ffffff;
    
    background-color: #4e6072;
    background-image: url("img/contacts_background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 1968px;
    min-height: 699px;

    margin-bottom: 106px;
}
.contacts a {
    color: #ffffff;
    text-decoration: none;
}
.contacts a:hover,
.contacts a:focus,
.contacts a:active {
    color: #f39c12;
}
.contacts__info-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 910px;
    height: 160px;

    margin-bottom: 61px;
    padding: 0;
}
.contacts .incolumn-h2-and-annotation-wrapper {
    margin-bottom: calc(61px - 34px); /*сократим стандартный отступ*/
}
.contacts__info-item,
.contacts__info-item-link {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.contacts__info-item::before,
.contacts__info-item-link::before {
    content: "";
    display: inline-block;

    width: 34px;
    height: 34px;
    margin-right: 20px;

    border: 2px solid #f39c12;
    border-radius: 50%;

    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}
.contacts__tel::before {
    background-image: url("img/contacts__tel''before.png");
}
.contacts__mail::before {
    background-image: url("img/contacts__mail''before.png");
}
.contacts__about::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "i";
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
}
.contacts__about:hover::before,
.contacts__about:focus::before,
.contacts__about:active::before {
    color: #ffffff;
    background-color: #f39c12;
}
.contacts__social-list {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 300px;

    margin: 0;
    padding: 0;
}
.contacts__social-item {
}
.contacts__social-item-link::before {
    content: "";
    display: inline-block;

    width: 34px;
    height: 34px;

    border: 2px solid #f39c12;
    border-radius: 50%;

    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}
.contacts__vk::before {
    background-image: url("img/contacts__vk''before.png");
}
.contacts__fb::before {
    background-image: url("img/contacts__fb''before.png");
}
.contacts__inst::before {
    background-image: url("img/contacts__inst''before.png");
}
.contacts__vk:hover::before,
.contacts__vk:focus::before,
.contacts__vk:active::before {
    background-color: #f39c12;
    background-image: url("img/contacts__vk--hover''before.png");
}
.contacts__fb:hover::before,
.contacts__fb:focus::before,
.contacts__fb:active::before {
    background-color: #f39c12;
    background-image: url("img/contacts__fb--hover''before.png");
}
.contacts__inst:hover::before,
.contacts__inst:focus::before,
.contacts__inst:active::before {
    background-color: #f39c12;
    background-image: url("img/contacts__inst--hover''before.png");
}
.comment {
    margin-bottom: 106px;
}
.comment__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: calc((1170px - 910px)/2);
    width: 620px;
}
.comment__form input[type="text"],
.comment__form input[type="password"],
.comment__form textarea {
    padding-right: 67px;
}
.comment__item {
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
}
.comment__name {
    background-image: url("img/comment__name.png");
    background-position: 96% center; /*calc(620px - 28px - 18px)*/
}
.comment__mail {
    background-image: url("img/comment__mail.png");
    background-position: 96% center;
}
.comment__text {
    background-image: url("img/comment__text.png");
    background-position: 96% 12px;
}
.comment__submit {
    margin-top: 10px;
}
.main-footer {
    color: #ffffff;
    
    background-color: #4e6072;
    background-image: url("img/footer_background.jpg");
    background-position: top center;
    background-repeat: repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 1970px;
    min-height: 143px;
}
.main-footer a {
    color: #ffffff;
}
.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
    color: #f39c12;
}
.main-footer-content-wrapper {   
    width: 1170px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-footer__info-list {
    list-style: none;

    width: 400px;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 143px;
}
.main-footer__info-list a {
    text-decoration: none;
}
.main-footer__info-list-item {
    color: #ffffff;
}
.main-footer__social-list {
    text-align: center;
    list-style: none;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    width: 300px;

    margin: 0;
    padding: 0;
}
.main-footer__copyrights-list {
    text-align: right;
    width: 400px;

    margin: 0;
    padding: 0;
}
.main-footer__copyrights-list a {
    text-decoration: none;
}
.main-footer__copyrights-list p {
    margin: 0;
    padding: 0;
}
.develop-link::before {
    content: "";
    display: inline-block;

    background-color: transparent;
    background-image: url("img/develop-link''before.png");
    background-position: top center;
    background-repeat: no-repeat;

    width: 16px;
    height: 20px;
}
.develop-link:hover::before,
.develop-link:focus::before,
.develop-link:active::before {
    background-image: url("img/develop-link--hover''before.png");
}
.entrance {
    position: fixed;
    z-index: 6;

    width: 554px;
    min-height: 671px;

    top: 200px;
    left: calc((100% - 460px) / 2);

    background-color: #ffffff;
    box-shadow: 0 20px 70px;
    border-radius: 2px;

    width: 460px;
    min-height: 577px;
}
.entrance a {
    text-decoration: none;
}
.entranse-content-wrapper {
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 375px;
    min-height: 486px;

    margin: 45px;
}
.entranse-content-wrapper h2 {
    text-align: center;
    width: auto;
    margin: 0;
}
.entranse-content-wrapper .h2-annotation {
    text-align: center;
    width: auto;
    margin: 0;
    padding: 0;
}
.entrance__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    min-height: 271px;
}
.entrance__form input[type="text"],
.entrance__form input[type="password"] {
    padding-right: 67px;
}
.entrance__item {
    width: 100%;
    background-repeat: no-repeat;
}
.entrance__login {
    background-image: url("img/comment__name.png");
    background-position: 94% center; /*calc(375px - 28px - 18px)*/
}
.entrance__password {
    background-image: url("img/entrance__password.png");
    background-position: 93.4% center;
}
.remember_and_restore_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.entrance__close {
    position: absolute;
    border: none;    
    background-color: transparent;
    background-image: url("img/entrance_close_btn.png");
    width: 44px;
    height: 44px;
    right: calc(-77px - 44px);
    top: 77px;
}
.entrance__close:hover,
.entrance__close:focus,
.entrance__close:active {
    background-image: url("img/entrance_close_btn--hover.png");
}
/* крестик из псевдоэлементов не получается из-за лишней перекрывающей тени
.entrance__close::before,
.entrance__close::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
    box-shadow: 0 0 15px 3px;
    top: 18px;
    left: 2px;
}
.entrance__close::before {
    transform: rotate(45deg);
}
.entrance__close::after {
    transform: rotate(-45deg);
}
.entrance__close:hover::before,
.entrance__close:hover::after,
.entrance__close:focus::before,
.entrance__close:focus::after,
.entrance__close:active::before,
.entrance__close:active::after {
    background-color: #f39c12;
} */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
/* ---------- /index ---------- */